body{
  background-color: #4c5057;
}
.app {
  text-align: center;
}

.app-logo {
  width:20%;
  pointer-events: none;
  text-align: left;
  margin-right: 20px;
  max-width: 200px;
}
  

.app-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  color: #FF6700;
  border-bottom: 2px solid #FF6700;
  font-family: math;
  margin: auto 0px;
} 
.app-body{
  background-color: #4c5057;
  min-height: 71vh;
  color: #FF6700;
  padding-top: 5vh;

}
.inputs{
  text-align: left;
  margin: auto;
  max-width: 600px;
}
.inputs label{
  width: 23vw;
}
.center{
  text-align: center;
}
.data-table{
  
  border-collapse: collapse;
}
.results table{
  margin: auto;
  border-collapse: collapse;
  background-color: #000000;
}
.results table th, td {
  border: 1px solid #FF6700;
  padding: 10px;
}
.submit{
  min-width: 200px;
  margin-top: 10px;
  color: #FF6700;
  background-color: black;
  font-weight: bolder;
  font-size: 15px;
  position:relative;
}
.submit:hover{
  cursor: pointer;
  background-color: #282c34;
}
.submit:active{
  background-color: black;
  position:relative;
  top:1px;
}